:root{
    --color-orange: #FFA22F;
    --color-black: #041A35;
    --color-white: #FFFFFF;
    --color-grey: #EBEBEB;
    --color-background-grey: #F7F8FA;
    --color-blue: #F7A74B;
}

html {
  scroll-behavior: smooth;
}

.button-class{
    color: var(--color-white) !important;
    background-color: var(--color-orange) !important;
}
