:root{
    --color-orange: #FFA22F;
    --color-black: #041A35;
    --color-white: #FFFFFF;
    --color-grey: #EBEBEB;
    --color-background-grey: #F7F8FA;
    --color-blue: #F7A74B;

    --footer-color-prm: #14151A;
    --footer-color-sec: #101115;
}

html {
  scroll-behavior: smooth;
}

a{
    text-decoration: none!important;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 14px
}
.v-container{
    padding: 0!important;
}

.button-class{
    color: var(--color-white) !important;
    background-color: var(--color-orange) !important;
    font-size: 16px!important;
}

.custom-chip-green .v-chip__prepend i {
    color: #23E2A5 !important;
}
.custom-chip-orange .v-chip__prepend i {
    color: var(--color-orange) !important;
}

/*header*/
/*descktop */
.v-toolbar__content{
    max-width: 1400px;
    margin: 0 auto;
}


/* Small devices (greater than 600px) */
@media (min-width: 601px) {
    /* Your CSS rules for small devices go here */
}

/* Medium devices (greater than 960px) */
@media (min-width: 961px) {
    /* Your CSS rules for medium devices go here */
    h1, .large-font{
        font-size: 2.5rem !important;
        font-weight: bold;
    }
    h2{
        font-size: 2rem !important;
    }

    h3{
        font-size: 1.5rem !important;
    }
}

/* Large devices (greater than 1264px) */
@media (min-width: 1265px) {
    h1{
        font-size: 3rem !important;
    }
    h2{
        font-size: 2.5rem !important;
    }

    h3{
        font-size: 1.75rem !important;
    }

    p{

    }

}

/* Extra large devices (greater than 1904px) */
@media (min-width: 1905px) {
    /* Your CSS rules for extra large devices go here */
}


